build/.vs/HandmadeQuake/v14/.suo
*.vcxproj
build/ALL_BUILD.vcxproj.filters
*.rule
build/CMakeFiles/3.4.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/CMakeFiles/3.4.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.4.3/CMakeDetermineCompilerABI_C.bin
*.obj
*.tlog
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.4.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.4.3/CompilerIdC/CompilerIdC.exe
*.depend
*.stamp
build/CMakeFiles/3.4.3/CompilerIdC/CMakeCCompilerId.c
build/cmake_install.cmake
build/Debug/HandmadeQuake.exe
*.pdb
*.list
*.sln
*.filters
*.log
*.ilk
build/CMakeFiles/TargetDirectories.txt
*.check_cache
build/CMakeFiles/3.4.3/CMakeSystem.cmake
build/CMakeFiles/3.4.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.4.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.4.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx